@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;

  --primary: #0b254b;
  --light: #f1faff;
  --light-blue: #e9ecf8;
  --grey: #eff2f7;
  --gris_fondo: #e3effb;
  --verde: #22c58e;
  --verde_soft: #e4fbf3;
  --verde_muyclaro: #c0f6e3;
  --verde_claro: #93c21c;
  --verde_difuso: #54c4ae;
  --verde_medio: #1abc9c;
  --verde_boton: #009688;
  --verde_oscuro: #15824e;
  --amarillo: #cccc33;
  --amarillo_difuso: #e0e063;
  --azul: #0d4dad;
  --azul_marino: #03316c;
  --azul_claro: #4099ff;
  --rojo_difuso: #bd3323;
  --violeta_medio: #991abc;
}

body {
  width: 100%;
  background-image: url('/public/img/svg/wave_soft.svg');
  background-position:initial;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

header {
  z-index: 1500;
  position: sticky;
  top: 0; 
  background-color: whitesmoke !important;
}
 header:hover{
  box-shadow: 0px 2px 12px #d8dbdbe8;
 }

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center; 
  z-index: 1450;
  position: absolute;
}

.navbar-brand {
  width: 12em !important;
  height: auto !important;
  padding: 10px;
  margin-left: 5em !important;
}

.navbar-brand img {
  justify-content: flex-start;
  align-self: flex-end;
}

#navbarNav {
  align-content: center;
  justify-content: center;
}

.nav,
.navbar,
.navbar-expand-lg,
.navbar-light {
  background-color: white;
}

.nav-link {
  margin-right: 4em !important;
}

.nav-link:hover {
  color: var(--verde_boton) !important;
}

.container-fluid {
  background-color: white;
  text-align: center;
}

.navScroller{ 
  box-shadow: 0px 2px 12px #d8dbdbe8;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  /* margin: 2em !important;
  width: 100%; */
}

.subir {
  z-index: 999;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  border: none !important;
  caret-color: none !important;
  background-color: var(--verde_boton);
  color: white;
  cursor: pointer;
  transform: scale3d(1);
  transition: transform 2s ease;
  box-shadow: 1px 3px 5px rgba(63, 62, 62, 0.718);
}
.subir{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
section {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* -------------------------------- section 1 ------------------------------- */
.section_1 {
  margin-bottom: 4em;
  margin-top: 4em;
}

.section_1,
.section_2 {
  height: auto;
}

.contenido_section_1,
.contenido_section_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.texto_section1 h1 {
  margin-top: 1em;
}

.texto_section1,
.texto_section2 {
  width: 60%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.texto_section1 h1,
.texto_section2 h2 {
  font-size: 2.8vw;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--verde_boton);
}

.texto_section1 p,
.texto_section2 p {
  font-size: 1.4vw;
  width: 100%;
  /* padding: 10px; */
  padding-left: 0px;
  padding-right: 20px;
  margin-right: 5em;
}


.imagen_section2 {
  width: 40%;
}

.imagen_section1 img {
  width: 30vw;
  position: relative;
  animation: shake_ 4s ease-in-out infinite;
  margin-left: 5em;
  margin-top: 1em;
  display: none;
  /* margin-bottom: 1.5em; */
  /* filter: drop-shadow(-2px 0px 6px rgba(16, 16, 16, 0.873)); */
}

.imagen_laptop{
  visibility: visible !important;
  display: inline;
}

.imagen_section2 img {
  width: 25vw;
  margin-top: 1em;
  margin-left: 5em;
  position: relative;
  animation: shake_ 5s ease-in-out infinite;
  /* filter: drop-shadow(-2px 0px 6px rgba(16, 16, 16, 0.873)); */
}

@keyframes shake_ {
  0% {
    transform: translateY(5px);
  }

  25% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes shakex {
  0% {
    transform: translateX(10px);
  }

  25% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

/* -------------------------------- section 2 ------------------------------- */

.section_2 {
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

}

/* ---------------------------- seccion servicios --------------------------- */
.servicios {
  margin-top: 4em;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
/*   background-color: var(--)verde_soft; */
}

.content_servicios {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  width: 100%;
}

.servicios_presentacion,
.nosotros_detalle {
  width: 100%;
  padding: 1.5em 5em;
}

.servicios_presentacion h2,
.nosotros_detalle h2 {
  font-size: 2.8vw;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--verde_boton);
}

.servicios_presentacion p,
.nosotros_detalle p {
  font-size: 1.4vw;
  width: 100%;
  /* padding: 10px; */
}

.conten-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.5vw;
  /* width: 70vw; */
  width: 100%;
  padding: .5em;
  margin-bottom: 1.5em;
}
.tarjetas_up, .tarjetas_down {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center ;
  gap: 1.5em;
  width: 100%;
  margin-bottom: 1.5em;
}

.content_servicios .card {
  width: 20em;
  min-height: 25em;
  border-radius: 1em;
}

.content_servicios .video{
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: .5em;
}
.video video{
  width: 80%;
  height: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  align-items: center;
  box-shadow: -2px 5px 12px rgba(89, 88, 88, 0.452);
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
  box-shadow: -2px 5px 6px rgba(89, 88, 88, 0.452);
}
.card .card-body::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.card .card-body::-webkit-scrollbar-thumb {
  background-color: #96d5c9ad !important;
}

.card .card-body {
/*   width: 24em; */
  overflow-y: scroll;
  margin-bottom: 2em;
}
.card-text .enfatizar{
  font-style: italic;
}

.card-body .card-title {
  font-size: 1.5em;
  font-weight: 500;
}

.card .card-img-top {
  width: 5em;
  padding: 6px;
  /*  filter: drop-shadow(-2px 5px 2px rgba(70, 69, 69, 0.353)); */
}
.card-body .card-text {
  padding: 6px;
  padding-top: 0px;
  font-size: .8em;
}
.contenedor_carrucel {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  height: 10em;  
}

.d-block {
  width: 5em;
  height: 10em;
}

/* -------------------------------- CARRUSEL -------------------------------- */

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: rgb(255, 255, 255) !important;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 80px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
  margin-left: 100px;
}

/* -------------------------- fin seccion servicios ------------------------- */

/* --------------------------------seccion nosotros -------------------------------- */
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.content_nosotros {
  display: flex;
  flex-direction: row;
  /*cambio*/
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2em;
  width: 100%;
}


.nosotros {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2em;
  width: 100%;
  margin-top: 4em !important;
}

/* .cards-nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  justify-content: center;
   
} */

.cards-nosotros{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5em;
  /* width: 100%; */
 /*  padding: 1.5em; */
}
.perfil_up, .perfil_down {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: nowrap; 
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  
}
/* --------------------------------- prueba card perfil 3D--------------------------------- */

.card-3d {
  min-width: 380px; /*400px*/
  height: 470px; /*450px*/
  border-radius: 20px;
  position: relative;
  -webkit-transition: 1.2s ease-in-out;
  transition: 1.2s ease-in-out;
  transform-style: preserve-3d;
  border-radius: 0.5em;
  box-shadow: 0px 5px 16px rgba(205, 203, 203, 0.645);
  background-color: whitesmoke;

}

.side {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 2px 2px;
  color: rgb(24, 23, 23);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 20px;  
  
}

.content-3d h1 {
  position: relative;
}
.content-3d p {
  margin-top: -8px;
  line-height: 2em;
}
.content-3d h1:before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 3px;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.content-3d .card-img-top {
  width: 8em;
  padding: 2px;
  margin-bottom: 1em;
  margin-top: 1.2em;
  border-radius: 50%;
  filter: grayscale(1);
  box-shadow: 0px 5px 12px rgb(195, 192, 192);
}

.front {
  z-index: 2;
  background-size: 100vh;
  background-size: cover;
  background-color: white;
  position: absolute;
/*
  background-image: url('/public/img/svg/wave_claro_bottom.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
*/  
  
}
.back {
  transform: rotateY(180deg);
  z-index: 0;
  position: absolute;
  padding-top: 1px;
  background-color: white;
}
.front h4 {
  color: #1bba40;
}
.front h5 {
  color: #1bba40;
}
.front p {
  margin: 1.5em;
  font-size: 1em;
  color: #000000;
  padding: 10px;
}
.card-3d:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: all 1.4s ease-in-out;
}
.text_back {
  margin-top: 1.5em;
  text-align: left;
  color: #101111;
}
.text_back p {
  font-size: .9em;
  color:#121c09;
  background-color: #e3f4d5;
  border-radius: .5em;
  padding: 15px;
  margin:.8em
}

.text_back ul {
  padding-left: 0.2rem;
  margin-top: 1em;
}
.text_back li {
  list-style-type: none;
}
.text_back li::marker {
  color: #31491b;
  font-size: 2em;
}
.back h1 {
  margin: 0;
}
.back {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.back #linkdin {
  width: 100%;
  top: 400px;
  /* margin-left: 45%; */
  text-align: center;
}
#linkdin ion-icon {
  font-size: 54px;
  top: 0;  
}
#linkdin:hover ion-icon {
  transform: scale(1.08);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(68, 67, 67, 0.573));
  cursor: pointer;
}
/* ion-icon {
  pointer-events: none;
}
 */

/* ------------------------------- Tecnologias ------------------------------ */
.titulo_tecno {
  margin-top: 2em;
  width: 80%;
  text-align: center;
}

.tecno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
}
/* .logo_tecno {
  padding: 10px;
} */
.logo_tecno .figure-caption {
  text-align: center;
  margin: 0 auto;
  margin-top: .4em;
  visibility: hidden;
}
.figure-caption{
  font-weight: bold;
}
.logo_tecno:hover img {
  animation: shake_ 4s ease infinite;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background-color: transparent !important;
}
figure img{
  width: 6.5em;
  height: 6.5em;
}
.logo_tecno img {
  /* filter: drop-shadow(0px 0px 12px rgb(209, 208, 208)); */
  box-shadow: 0px -2px 12px rgb(160, 159, 159);
  border-radius: 50% !important;
}

figure:hover .figure-caption {
  visibility: visible;
  animation: shake_ 4s ease infinite;
  -moz-animation: shake_ 4s ease infinite;
  -webkit-animation: shake_ 4s ease infinite;
}

/* -------------------------- fin seccion nosotros -------------------------- */
/* ---------------------------- seccion contacto ---------------------------- */

.contacto {
  margin-top: 4em;
  /*  width: 100%; */
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.contenedor_formulario {
  width: 100%;
  /* height: 50em; */
  padding: 5em;
  margin: 2em !important;
  margin: 0 auto;
  /* background-color: rgba(26, 25, 25, 0.6); */
  border-radius: 0.5em;
}


.formulario h2 {
  color: var(--verde_boton);
  margin-bottom: 2em;
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.area {
  margin-top: 2em !important;
}

textarea:focus,
input:focus,
input[type]:focus {
  /* box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(71, 70, 69, 0.6); */
  outline: 0 none !important;
}

.inputs input {
  width: 32em !important;
  border: none !important;
  background-color: transparent !important;
  border-radius: 0;
  border-bottom: 0.5px solid rgba(127, 125, 125, 0.673) !important;
}

.inputs input:focus {
  border-bottom: 2px solid var(--verde_difuso) !important;
}

.inputs #text-area {
  border: 1px solid rgba(103, 101, 101, 0.673) !important;
  outline-offset: 0 !important;
  border-radius: 0.5em;
}

.btn_enviar {
  box-shadow: rgb(0, 0, 0, 71%);
  width: 6em;
}

.btn_enviar ion-icon {
  vertical-align: text-bottom;
  margin-left: 0.5em;
}

.btn_enviar:hover {
  box-shadow: rgb(0, 0, 0, 71%);
  width: 6em;
  box-shadow: 2px 2px 8px rgba(86, 84, 84, 0.485);
}

.btn_enviar:hover ion-icon {
  animation: shake_linkedin 0.8s ease-in-out infinite;
}

/* -------------------------- fin seccion contacto -------------------------- */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /*  height: 40vh; */
  background-color: var(--verde_difuso);
  bottom: auto;
}

footer .barra-nav_footer {
  margin-top: 0.5em;
}

footer .direccion {
  margin-top: 1.5em;
  color: rgb(65, 61, 61);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: 400;
}

.direccion ion-icon {
  vertical-align: text-bottom;
}

footer .barra-nav_footer ul,
a {
  text-decoration: none;
}

.barra-nav_footer ul li {
  list-style-type: none;
}

.barra-nav_footer a {
  color: rgb(24, 23, 23) !important;
  font-size: 1em;
  text-shadow: 0 0 4px grey;
}

.barra-nav_footer a:hover {
  color: rgb(247, 249, 253) !important;
  background-color: black;
  font-size: 1em;
  text-shadow: 0 0 4px grey;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.derechos {
  text-align: center;
  color: rgb(31, 30, 30);
  background-color: var(--verde_soft);
  width: 100%;
  height: 5em;
}

.derechos p {
  margin-top: 2em;
}

.derechos img {
  width: 13vh;
}

footer .redes_sociales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5em;
}

footer .redes_sociales ion-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
  gap: 2.5em;
  color: rgb(28, 26, 26);
  margin-bottom: 1em;
}

/* ------------------------------ iconos redes ------------------------------ */
.redes_sociales .linkedin:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}

.redes_sociales .twitter:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}

.redes_sociales .instagram:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}

.redes_sociales .facebook:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}

/* -------------------------------------------------------------------------- */
/*                               MODO RESPONSIVE                              */
/* -------------------------------------------------------------------------- */

@media all and (min-width: 350px) and (max-width: 478px) {
  body {
    width: 100%;
    background-image: url('/public/img/svg/wave_res.svg');
    background-position:initial;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
  .navbar-brand {
    margin-left: 0 !important;
  }

  .barra-nav_footer {
    margin-bottom: 1em;
  }

  .section_1 {
    height: 50vh;
  }

  .texto_section1 h1 {
    margin-top: 4em;
  }
  .section_1 {
    margin-bottom: 4em;
    margin-top: 20em;
  }
  

  .contenido_section_1,
  .contenido_section_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .texto_section1,
  .texto_section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .texto_section1 h1,
  .texto_section2 h2,
  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 6vw;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .texto_section1 p,
  .texto_section2 p,
  .servicios_presentacion p,
  .nosotros_detalle p {
    font-size: 4.5vw;
    width: 100%;
    padding: 15px;
  }

  .imagen_laptop,
  .imagen_section2 {
    width: 100%;
  }

  .imagen_section1 img {
    width: 90vw;
    padding: 2.5em;
    margin-left: 2em;
    margin-top: 10em;
    visibility: visible;
    display: inline;
  }
  .imagen_laptop{
    visibility: hidden;
    display: none;    
  }
  .imagen_section2 img {
    width: 80vw;
    padding: 4.5em;
    margin-left: 2em;
    margin-top: 24em;
  }

  /* -------------------------------- servicios ------------------------------- */
  .servicios_presentacion,
  .nosotros_detalle {
    width: 100%;
    padding: 10px;
  }

  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 8vw;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .conten-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    margin-bottom: 1.5em;
  }
  .content_servicios {
    width: 100%;    
  }
  .content_servicios .video{
    margin-top: 2em;
  }
  
  .tarjetas_up, .tarjetas_down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    width: 70vw;
    margin-bottom: 1.5em;
  }
  .card {
    width: 100% ;
    margin-top: 1em;
  }

  .card .card-body .card-text {
    padding-left: 2px;
    padding-right: 0;
  }

  .card .card-title {
    padding: 4px;
    padding-bottom: 0px;
    text-align: center;
  }

  /* -------------------------------- CARRUSEL -------------------------------- */
  .contenedor_carrucel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    height: 4em;
  }
  .contenedor_carrucel h2{
    width: 80%;
    text-align: center;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    background: white !important;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 100%;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      white 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100px;
    position: absolute;
    width: 80px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slider .slide {
    height: 100px;
    width: 250px;
  }

  /* -------------------------------- nosotros -------------------------------- */
  .nosotros {
    width: 100%;
  }
  

.nosotros_detalle h2{
  margin-top: 2em;
}
.cards-nosotros{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5em;
  /* width: 100%;
  padding: 1.5em; */
}

  .card-3d {
    min-width: 400px; /*400px*/
    min-height: 450px; /*450px*/
    border-radius: 20px;
    position: relative;
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 0.5em;
    box-shadow: 0px 5px 16px rgba(205, 203, 203, 0.645);
    background-color: whitesmoke;
  
  }
  
  .side {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2px 2px;
    color: rgb(24, 23, 23);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 20px;  
    
  }
  
  .content-3d h1 {
    position: relative;
  }
  .content-3d p {
 /*    margin-top: -8px; */
    line-height: 2em;
  }
  .content-3d h1:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
  .content-3d .card-img-top {
    width: 8em;
    padding: 2px;
    margin-bottom: 1em;
    margin-top: 1.2em;
    border-radius: 50%;
    filter: grayscale(1);
    box-shadow: 0px 5px 12px rgb(195, 192, 192);
  }
  
  .front {
    z-index: 2;
    background-size: 100vh;
    background-size: cover;
    background-color: white;
    position: absolute;
    
  }
  .back {
    transform: rotateY(180deg);
    z-index: 0;
    position: absolute;
    padding-top: 1px;
    background-color: white;
  }
  .front h4 {
    color: #1bba40;
  }
  .front h5 {
    color: #1bba40;
  }
  .front p {
    margin: 1.5em;
    font-size: 1em;
    color: #000000;
    padding: 10px;
  }
  .card-3d:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all 1.4s ease-in-out;
  }
  .text_back {
    margin-top: 1.5em;
    text-align: left;
    color: #101111;
  }
  .text_back p {
    font-size: .9em;
    color:#121c09;
    background-color: #e3f4d5;
    border-radius: .5em;
    padding: 15px;
    margin:.8em
  }
  
  .text_back ul {
    padding-left: 0.2rem;
    margin-top: 1em;
  }
  .text_back li {
    list-style-type: none;
  }
  .text_back li::marker {
    color: #31491b;
    font-size: 2em;
  }
  .back h1 {
    margin: 0;
  }
  .back {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .back #linkdin {
    width: 100%;
    top: 400px;
    text-align: center;
  }
  .back #linkdin ion-icon {
    font-size: 54px;
    bottom: 0;
  }
  .back #linkdin:hover ion-icon {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(2px 5px 2px rgba(68, 67, 67, 0.573));
  }
  
  .tecno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: .1em;
    margin-top: .2em;
  }
  /* .logo_tecno {
    padding: 5px;
  } */
  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 120px !important;
    background-color: transparent !important;
  }
  .logo_tecno .figure-caption {
    text-align: center;
    margin: 0 auto;
    visibility: hidden;
  }
  .logo_tecno:hover img {
    animation: shake_ 4s ease infinite;
  }
  figure:hover .figure-caption {
    visibility: visible;
    animation: shake_ 4s ease infinite;
  }

  .logo_tecno img {
    filter: drop-shadow(0px 0px 12px rgb(190, 189, 189));
    border-radius: 50% !important;
  }

  /* -------------------------------- contacto -------------------------------- */
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .mapa iframe {
    width: 100% !important;
    height: 15em !important;
    filter: drop-shadow(2px 5px 10px rgba(77, 76, 76, 0.466));
  }

  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .contenedor_formulario {
    width: 100%;
    padding: 2em;
    margin: 0.5em !important;
    margin: 0 auto;
    /* background-color: rgba(26, 25, 25, 0.6); */
    border-radius: 0.5em;
  }

  .formulario h2 {
    color: var(--verde_boton) !important;
    margin-bottom: 2em;
  }

  .inputs input {
    width: 100% !important;
    border: none !important;
    background-color: transparent !important;
    border-radius: 0;
    border-bottom: 0.5px solid rgba(127, 125, 125, 0.673) !important;
  }

  .inputs input:focus {
    border-bottom: 2px solid var(--verde_difuso) !important;
  }

  .inputs #text-area {
    border: 1px solid rgba(96, 95, 95, 0.673) !important;
    outline-offset: 0 !important;
    border-radius: 0.5em !important;
    width: 100% !important;
  }

  footer .direccion {
    margin-left: 1.5em;
  }
}

@media screen and (max-width: 479px) {
  body {
    width: 100%;
    background-image: url('/public/img/svg/wave_res.svg');
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .navbar-brand {
    margin-left: 0 !important;
  }

  .barra-nav_footer {
    margin-bottom: 1em;
  }

  .section_1 {
    height: 50vh;
  }

  .texto_section1 h1 {
    margin-top: 1.5em;
  }

  .contenido_section_1,
  .contenido_section_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .texto_section1,
  .texto_section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .texto_section1 h1,
  .texto_section2 h2,
  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 6vw;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .texto_section1 p,
  .texto_section2 p,
  .servicios_presentacion p,
  .nosotros_detalle p {
    font-size: 4.5vw;
    width: 100%;
    padding: 15px;
  }

  .imagen_section1,
  .imagen_section2 {
    width: 100%;
  }

  .imagen_section1 img,
  .imagen_section2 img {
    width: 80vw;
    padding: 2.5em;
    margin-left: 2em;
  }

  /* -------------------------------- servicios ------------------------------- */
  .servicios_presentacion,
  .nosotros_detalle {
    width: 100%;
    padding: 10px;
  }

  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 8vw;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .conten-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5vw;
    width: 70vw;
    margin-bottom: 1.5em;
  }
  
  .tarjetas_up, .tarjetas_down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* gap: 1.5em;
    width: 70vw;
    margin-bottom: 1.5em; */
  }
  .card {
    width: 100% ;
    margin-top: 1em;
  }

  .card .card-body .card-text {
    padding-left: 2px;
    padding-right: 0;
  }

  .card .card-title {
    padding: 4px;
    padding-bottom: 0px;
    text-align: center;
  }

  /* -------------------------------- CARRUSEL -------------------------------- */
  .contenedor_carrucel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    height: 4em;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    background: white !important;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 100%;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      white 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100px;
    position: absolute;
    width: 80px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slider .slide {
    height: 100px;
    width: 250px;
  }

  /* -------------------------------- nosotros -------------------------------- */
  .nosotros {
    width: 100%;
  }
  .card-3d {
    min-width: 350px; /*400px*/
    min-height: 480px; /*450px*/
    border-radius: 20px;
    position: relative;
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 0.5em;
    box-shadow: 0px 5px 16px rgba(205, 203, 203, 0.645);
    background-color: white;
  
  }

  .tecno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
  }
  .logo_tecno {
    padding: 5px;
  }
  .logo_tecno .figure-caption {
    text-align: center;
    margin: 0 auto;
    visibility: hidden;
  }
  .logo_tecno:hover img {
    animation: shake_ 4s ease infinite;
  }
  figure:hover .figure-caption {
    visibility: visible;
    animation: shake_ 4s ease infinite;
  }

  .logo_tecno img {
    filter: drop-shadow(0px 0px 12px rgb(190, 189, 189));
    border-radius: 50% !important;
  }

  /* -------------------------------- contacto -------------------------------- */
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .mapa iframe {
    width: 100% !important;
    height: 15em !important;
    filter: drop-shadow(2px 5px 10px rgba(77, 76, 76, 0.466));
  }

  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .contenedor_formulario {
    width: 100%;
    padding: 2em;
    margin: 0.5em !important;
    margin: 0 auto;
    /* background-color: rgba(26, 25, 25, 0.6); */
    border-radius: 0.5em;
  }

  .formulario h2 {
    color: var(--verde_boton) !important;
    margin-bottom: 2em;
  }

  .inputs input {
    width: 100% !important;
    border: none !important;
    background-color: transparent !important;
    border-radius: 0;
    border-bottom: 0.5px solid rgba(127, 125, 125, 0.673) !important;
  }

  .inputs input:focus {
    border-bottom: 2px solid var(--verde_difuso) !important;
  }

  .inputs #text-area {
    border: 1px solid rgba(96, 95, 95, 0.673) !important;
    outline-offset: 0 !important;
    border-radius: 0.5em !important;
    width: 100% !important;
  }

  footer .direccion {
    margin-left: 1.5em;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 100%;
    background-image: url('/public/img/svg/wave_res.svg');
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .navbar-brand {
    margin-left: 0 !important;
  }

  .barra-nav_footer {
    margin-bottom: 1em;
  }

  .section_1 {
    height: 50vh;
  }

  .texto_section1 h1 {
    margin-top: 8em;
  }

  .contenido_section_1,
  .contenido_section_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .texto_section1,
  .texto_section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .texto_section1 h1,
  .texto_section2 h2,
  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 6vw;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .texto_section1 p,
  .texto_section2 p,
  .servicios_presentacion p,
  .nosotros_detalle p {
    font-size: 4.5vw;
    width: 100%;
    padding: 15px;
  }

  .imagen_section1,
  .imagen_section2 {
    width: 100%;
  }

  .imagen_section1 img,
  .imagen_section2 img {
    width: 80vw;
    padding: 2.5em;
    margin-left: 2em;
  }

  /* -------------------------------- servicios ------------------------------- */
  .servicios_presentacion,
  .nosotros_detalle {
    width: 100%;
    padding: 10px;
  }

  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 8vw;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .conten-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5vw;
    width: 70vw;
    margin-bottom: 1.5em;
  }
  
  .tarjetas_up, .tarjetas_down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* gap: 1.5em;
    width: 70vw;
    margin-bottom: 1.5em; */
  }

  .card {
    margin-top: 1em;
  }

  .card .card-body .card-text {
    padding: 12px;
  }

  .card .card-body .card-title {
    padding: 12px;
    text-align: center;
  }

  /* -------------------------------- CARRUSEL -------------------------------- */
  .contenedor_carrucel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    height: 4em;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    background: white !important;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 100%;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      white 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100px;
    position: absolute;
    width: 80px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slider .slide {
    height: 100px;
    width: 250px;
  }

  /* -------------------------------- nosotros -------------------------------- */
  .nosotros {
    width: 100%;
  }

  .cards-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 90vw;
    margin-bottom: 1.5em;
  }
  .card-3d {
    min-width: 350px; /*400px*/
    min-height: 500px; /*450px*/
    border-radius: 20px;
    position: relative;
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 0.5em;
    box-shadow: 0px 5px 16px rgba(205, 203, 203, 0.645);
    background-color: white;
  
  }
  .tecno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
  }
  .logo_tecno {
    padding: 10px;
  }
  .logo_tecno .figure-caption {
    text-align: center;
    margin: 0 auto;
    visibility: hidden;
  }
  .logo_tecno:hover img {
    animation: shake_ 4s ease infinite;
  }
  figure:hover .figure-caption {
    visibility: visible;
    animation: shake_ 4s ease infinite;
  }

  .logo_tecno img {
    filter: drop-shadow(0px 0px 12px rgb(190, 189, 189));
    border-radius: 50% !important;
  }

  /* -------------------------------- contacto -------------------------------- */
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .mapa iframe {
    width: 100% !important;
    height: 15em !important;
    filter: drop-shadow(2px 5px 10px rgba(77, 76, 76, 0.466));
  }

  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .contenedor_formulario {
    width: 100%;
    padding: 2em;
    margin: 0.5em !important;
    margin: 0 auto;
    /* background-color: rgba(26, 25, 25, 0.6); */
    border-radius: 0.5em;
  }

  .formulario h2 {
    color: var(--verde_boton) !important;
    margin-bottom: 2em;
  }

  .inputs input {
    width: 100% !important;
    border: none !important;
    background-color: transparent !important;
    border-radius: 0;
    border-bottom: 0.5px solid rgba(127, 125, 125, 0.673) !important;
  }

  .inputs input:focus {
    border-bottom: 2px solid var(--verde_difuso) !important;
  }

  .inputs #text-area {
    border: 1px solid rgba(96, 95, 95, 0.673) !important;
    outline-offset: 0 !important;
    border-radius: 0.5em !important;
    width: 100% !important;
  }

  footer .direccion {
    margin-left: 1.5em;
  }
}

@media all and (min-width: 768px) and (max-width: 960px) {
  body {
    width: 100%;
    background-image: url('/public/img/svg/wave_res.svg');
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .navbar-brand {
    margin-left: 0 !important;
  }

  .barra-nav_footer {
    margin-bottom: 1em;
  }

  .section_1 {
    height: 50vh;
  }

  .texto_section1 h1 {
    margin-top: 8em;
  }

  .contenido_section_1,
  .contenido_section_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .texto_section1,
  .texto_section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .texto_section1 h1,
  .texto_section2 h2,
  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 6vw;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .texto_section1 p,
  .texto_section2 p,
  .servicios_presentacion p,
  .nosotros_detalle p {
    font-size: 3.5vw;
    width: 100%;
    padding: 20px;
  }

  .imagen_section1,
  .imagen_section2 {
    width: 100%;
  }

  .imagen_section1 img,
  .imagen_section2 img {
    width: 80vw;
    padding: 10em;
    margin-left: 4em;
  }

  /* -------------------------------- servicios ------------------------------- */
  .servicios_presentacion,
  .nosotros_detalle {
    width: 100%;
    padding: 10px;
  }

  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 8vw;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .conten-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5vw;
    width: 70vw;
    margin-bottom: 1.5em;
  }
  
  .tarjetas_up, .tarjetas_down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* gap: 1.5em;
    width: 70vw;
    margin-bottom: 1.5em; */
  }
  .card {
    width: 100% ;
    margin-top: 1em;
  }

  .card .card-body .card-text {
    padding-left: 4px;
    padding-right: 0;
    font-size: 1.1em;
  }

  .card .card-title {
    padding: 4px;
    padding-bottom: 0px;
    text-align: center;
  }

  /* -------------------------------- CARRUSEL -------------------------------- */
  .contenedor_carrucel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    height: 4em;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

  .slider {
    background: white !important;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 100%;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(
      to right,
      white 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100px;
    position: absolute;
    width: 80px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slider .slide {
    height: 100px;
    width: 250px;
  }

  /* -------------------------------- nosotros -------------------------------- */
  .nosotros {
    width: 100%;
  }

  .cards-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 90vw;
    margin-bottom: 1.5em;
  }

  .card-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0px 5px 16px rgba(205, 203, 203, 0.645);
    margin-bottom: 2em;
  }

  .card-us .card-img-top {
    margin-top: 0.5em;
    width: 8em;
    padding: 2px;
    border-radius: 50%;
    filter: grayscale(1);
  }

  .card-us .card-title {
    margin-top: 0.2em;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center !important;
  }

  .card-us .card-body {
    width: 20em;
    height: 20em;
    overflow-y: scroll;
  }

  .card-us .card-text {
    width: 100%;
    padding-left: 2px;
  }

  .card-us .card-body .btn-primary {
    width: 8em;
    margin-left: 10em !important;
    justify-self: flex-end !important;
  }

  .tecno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
  }
  .logo_tecno {
    padding: 5px;
  }

  .logo_tecno .figure-caption {
    text-align: center;
    margin: 0 auto;
    visibility: hidden;
  }
  .logo_tecno:hover img {
    animation: shake_ 4s ease infinite;
  }
  figure:hover .figure-caption {
    visibility: visible;
    animation: shake_ 4s ease infinite;
  }

  .logo_tecno img {
    filter: drop-shadow(0px 0px 12px rgb(190, 189, 189));
    border-radius: 50% !important;
  }
  /* -------------------------------- contacto -------------------------------- */
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .mapa iframe {
    width: 100% !important;
    height: 15em !important;
    filter: drop-shadow(2px 5px 10px rgba(77, 76, 76, 0.466));
  }

  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .contenedor_formulario {
    width: 100%;
    padding: 2em;
    margin: 0.5em !important;
    margin: 0 auto;
    border-radius: 0.5em;
  }

  .formulario h2 {
    color: var(--verde_boton) !important;
    margin-bottom: 2em;
  }

  .inputs input {
    width: 100% !important;
    border: none !important;
    background-color: transparent !important;
    border-radius: 0;
    border-bottom: 0.5px solid rgba(127, 125, 125, 0.673) !important;
  }

  .inputs input:focus {
    border-bottom: 2px solid var(--verde_difuso) !important;
  }

  .inputs #text-area {
    border: 1px solid rgba(96, 95, 95, 0.673) !important;
    outline-offset: 0 !important;
    border-radius: 0.5em !important;
    width: 100% !important;
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--verde_difuso);
    bottom: auto;
  }
  footer .direccion {
    margin-left: 1.5em;
  }
  .derechos {
    text-align: center;
    color: rgb(31, 30, 30);
    width: 100%;
    height: 6em;
    bottom: 0;
    background-color: var(--verde_muyclaro);
  }
  .derechos p {
    margin-top: 2em;
  }
}

@media all and (min-width: 961px){

.cards-nosotros{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  padding: 1.5em;
  justify-content: center;
}
}

/* -------------------------------------------------------------------------- */
/*                             ESTILOS DE PRUEBAS                             */
/* -------------------------------------------------------------------------- */
