@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;

  --primary: #0b254b;
  --light: #f1faff;
  --light-blue: #e9ecf8;
  --grey: #eff2f7;
  --gris_fondo: #e3effb;
  --verde: #22c58e;
  --verde_soft: #e4fbf3;
  --verde_muyclaro: #c0f6e3;
  --verde_claro: #93c21c;
  --verde_difuso: #54c4ae;
  --verde_medio: #1abc9c;
  --verde_boton: #009688;
  --verde_oscuro: #15824e;
  --amarillo: #cccc33;
  --amarillo_difuso: #e0e063;
  --azul: #0d4dad;
  --azul_marino: #03316c;
  --azul_claro: #4099ff;
  --rojo_difuso: #bd3323;
  --violeta_medio: #991abc;
}

body {
  width: 100%;
}

header {

  /* display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr; */
  position: sticky;

  top: 0;
  z-index: 100;
  background-color: whitesmoke !important;
}

header:hover {
  box-shadow: 0px 2px 12px #eef0f0e8;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-brand {
  width: 12em !important;
  height: auto !important;
  padding: 10px;
  margin-left: 5em !important;

}

.navbar-brand img {
  justify-content: flex-start;
  align-self: flex-end;
}

#navbarNav {
  align-content: center;
  justify-content: center;
}

.nav,
.navbar,
.navbar-expand-lg,
.navbar-light {
  background-color: white;

}

.nav-link {
  margin-right: 4em !important;
}

.nav-link:hover {
  color: var(--verde_boton) !important;
}

/* .navbar-nav{
  float: right;
} */
.container-fluid {
  background-color: white;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  /* margin: 2em !important;
  width: 100%; */
}
.subir {
  z-index: 999;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: fixed;
  bottom: 2em;
  right: 1em;
  border: none !important;
  caret-color: none !important;
  background-color: var(--verde_boton);
  color: white;
  cursor: pointer;
  transform: scale3d(1);
  transition: transform 2s ease;
  
}

section {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* -------------------------------- section 1 ------------------------------- */
.section_1 {
  margin-bottom: 8em;
  margin-top: 4em;
}

.section_1,
.section_2 {
  height: auto;
}

.contenido_section_1,
.contenido_section_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.texto_section1 h1 {
  margin-top: 2em;
}

.texto_section1,
.texto_section2 {
  width: 40%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.texto_section1 h1,
.texto_section2 h2 {
  font-size: 2.8vw;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--verde_boton);

}

.texto_section1 p,
.texto_section2 p {
  font-size: 1.6vw;
  width: 100%;
  padding: 20px;

}

.imagen_section1,
.imagen_section2 {
  width: 40%;

}

.imagen_section1 img {
  width: 25vw;
  position: relative;
  animation: shake_ 4s ease-in-out infinite;
  /* filter: drop-shadow(-2px 0px 6px rgba(16, 16, 16, 0.873)); */
}

.imagen_section2 img {
  width: 25vw;
  position: relative;
  animation: shakex 5s ease-in-out infinite;
  /* filter: drop-shadow(-2px 0px 6px rgba(16, 16, 16, 0.873)); */
}

@keyframes shake_ {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes shakex {
  0% {
    transform: translateX(10px);
  }

  25% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

/* -------------------------------- section 2 ------------------------------- */

.section_2 {
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}


/* ---------------------------- seccion servicios --------------------------- */
.servicios {
  margin-top: 4em;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--verde_soft);
}

.content_servicios,
.content_nosotros {
  display: flex;
  flex-direction: row;
  /*cambio*/
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: .2em;
}

.servicios_presentacion,
.nosotros_detalle {
  width: 80vw;
  padding: 20px;
}

.servicios_presentacion h2,
.nosotros_detalle h2 {
  font-size: 2.8vw;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.servicios_presentacion p,
.nosotros_detalle p {
  font-size: 1.5vw;
  width: 100%;
  padding: 10px;
}

.conten-card,
.cards-nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5vw;
  width: 70vw;
  margin-bottom: 1.5em;
}

.content_servicios .card {
  width: 20em;
  min-height: 20em;
  border-radius: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-2px 5px 12px rgba(89, 88, 88, 0.452));
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(-2px 5px 6px rgba(89, 88, 88, 0.452));
}

.card .card-body {
  width: 18em;
}

.card-body .card-title {
  font-size: 1.5em;
  font-weight: 500;
}

.card .card-img-top {
  width: 8em;
  padding: 5px;
  /*  filter: drop-shadow(-2px 5px 2px rgba(70, 69, 69, 0.353)); */
}

.contenedor_carrucel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: auto;

}

.carrucel {
  width: 100%;
}

.d-block {
  width: 5em;
  height: 10em;
}

/* -------------------------- fin seccion servicios ------------------------- */

/* --------------------------------seccion nosotros -------------------------------- */
@keyframes bounceInUp {

  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.nosotros {
  margin-top: 4em !important;

}

.card-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .8em;
  box-shadow: 0px 5px 16px rgba(205, 203, 203, 0.645);

}

summary strong,
summary::marker {
  color: var(--azul);
}

.card-us .card-body {
  width: 25em;
  height: 16em;
  overflow-y: hidden;
}

.card-us .card-title {
  margin-top: .2em;
  font-family: 'Satisfy', cursive;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center !important;
}

.card-us .card-text {
  text-align: center center;
  justify-content: center;
}

.card-us .card-img-top {
  margin-top: .5em;
  width: 10em;
  padding: 5px;
  border-radius: 50%;
  filter: grayscale(1);

}

.card-us .card-body .btn-primary {
  margin-left: 15em !important;
  justify-self: flex-end !important;
}

.card-us .card-body .btn-primary ion-icon {
  vertical-align: text-bottom;
  font-size: 1.2em;
}

.card-us .card-body .btn-primary:hover {
  filter: drop-shadow(5px 5px 4px rgba(169, 168, 168, 0.645));
}

@keyframes shake_linkedin {
  0% {
    transform: translateX(-2px);
  }

  25% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

.card-us .card-body .btn-primary:hover ion-icon {
  animation: shake_linkedin .8s ease infinite;
}

.card-us .card-body::-webkit-scrollbar {
  width: 4px;
  height: 2px;

}

.card-us .card-body::-webkit-scrollbar-thumb {
  background-color: #35d1b29a !important;
}

.card-us .card-body {
  overflow-y: scroll;
}

/* -------------------------- fin seccion nosotros -------------------------- */
/* ---------------------------- seccion contacto ---------------------------- */

.contacto {
  margin-top: 4em;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor_formulario {
  width: 50vw;
  /* height: 50em; */
  padding: 5em;
  margin: 2em !important;
  margin: 0 auto;
  /* background-color: rgba(26, 25, 25, 0.6); */
  border-radius: .5em;
}

.mapa iframe {
  width: 600px !important;
  height: 400px !important;
  filter: drop-shadow(2px 5px 10px rgba(77, 76, 76, 0.466));
  border-radius: .5em;
}

.formulario h2 {
  color: rgb(32, 30, 30);
  margin-bottom: 2em;
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

}
.area{  margin-top: 2em !important;
}
textarea:focus,
input:focus,
input[type]:focus {
  /* box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(71, 70, 69, 0.6); */
  outline: 0 none !important;

}

.inputs input {
  width: 32em !important;
  border: none !important;
  background-color: transparent !important;
  border-radius: 0;
  border-bottom: 0.5px solid rgba(127, 125, 125, 0.673) !important;

}

.inputs input:focus {
  border-bottom: 2px solid var(--verde_difuso) !important;

}

.inputs #text-area {
  border: 1px solid rgba(4, 2, 2, 0.673) !important;
  outline-offset: 0 !important;
}

.btn_enviar {
  box-shadow: rgb(0, 0, 0, 71%);
  width: 8em;
}

.btn_enviar ion-icon {
  vertical-align: text-bottom;
}

.btn_enviar:hover {
  box-shadow: rgb(0, 0, 0, 71%);
  width: 8em;
  box-shadow: 2px 2px 8px rgba(70, 68, 68, 0.485);

}

.btn_enviar:hover ion-icon {
  animation: shake_linkedin .8s ease-in-out infinite;
}


/* -------------------------- fin seccion contacto -------------------------- */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--verde_muyclaro);
  bottom: auto;
}

footer .barra-nav_footer {
  margin-top: .5em;
}

footer .direccion {
  margin-top: 1.5em;
  color: rgb(65, 61, 61);
  display: flex;
  flex-direction: row;
  font-weight: 400  ;
}
.direccion ion-icon{
  /* width: 4em;
  height: 4em;
  z-index: 100;
  position: relative; */
  vertical-align: text-bottom;
}

footer .barra-nav_footer ul,
a {
  text-decoration: none;
}

.barra-nav_footer ul li {
  list-style-type: none;
}

.barra-nav_footer a {
  color: rgb(24, 23, 23) !important;
  font-size: 1em;
  text-shadow: 0 0 4px grey;
}

.barra-nav_footer a:hover {
  color: rgb(247, 249, 253) !important;
  background-color: black;
  font-size: 1em;
  text-shadow: 0 0 4px grey;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.derechos{
  text-align: center;
  background-color: rgb(247, 246, 246);
  color: rgb(31, 30, 30);
  width: 100vw;
  height: 10em;
}
.derechos p{
  margin-top: 4em;
}
.derechos img{
  width: 12.5vh;
}

footer .redes_sociales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5em;
}

footer .redes_sociales ion-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
  gap: 2.5em;
  color: rgb(28, 26, 26);
  margin-bottom: 1em;
}

/* ------------------------------ iconos redes ------------------------------ */
.redes_sociales .linkedin:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}

.redes_sociales .twitter:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}

.redes_sociales .instagram:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}

.redes_sociales .facebook:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(2px 5px 2px rgba(16, 16, 16, 0.573));
}



@media screen and (max-width:380px) {
  .navbar-brand {
    margin-left: 0 !important;
  }
  .barra-nav_footer{
    margin-bottom: 1em;
  }

  .section_1 {
    height: 50vh;
  }
  .texto_section1 h1{
    margin-top: 2em;
  }

  .contenido_section_1,
  .contenido_section_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

  }

  .texto_section1,
  .texto_section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .texto_section1 h1,
  .texto_section2 h2,
  .servicios_presentacion h2,
  .nosotros_detalle h2 {
    font-size: 6vw;
    width: 100%;
    padding: 20px;
    text-align: center;

  }

  .texto_section1 p,
  .texto_section2 p,
  .servicios_presentacion p,  
  .nosotros_detalle p {
    font-size: 4.5vw;
    width: 100%;
    padding: 15px;

  }
  .servicios_presentacion p{
    width: 100% !important;
  }

  .imagen_section1,
  .imagen_section2 {
    width: 100%;

  }

  .imagen_section1 img,
  .imagen_section2 img {
    width: 80vw;
  }
  /* -------------------------------- servicios ------------------------------- */
.servicios_presentacion,
.nosotros_detalle {
  width: 100%;
  padding: 10px;
}

.servicios_presentacion h2,
.nosotros_detalle h2 {
  font-size: 8vw;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.card{
  margin-top: 1em;  
}
.card .card-body .card-text{
  padding: 12px;
}
.card .card-body .card-title{
  padding: 12px;
  text-align: center;

}
/* -------------------------------- nosotros -------------------------------- */
  .nosotros{
    width: 100%;
  }

.card-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  box-shadow: 0px 5px 16px rgba(205, 203, 203, 0.645);
  margin-bottom: 2em;

}
.card-us .card-img-top {
  margin-top: .5em;
  width: 8em;
  padding: 2px;
  border-radius: 50%;
  filter: grayscale(1);

}
.card-us .card-title {
  margin-top: .2em;
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center !important;
}
.card-us .card-body {
  width: 20em;
  height: 20em;
  overflow-y: scroll;
}
.card-us .card-text{
  width: 100%;
  padding-left: 2px;
}
.card-us .card-body .btn-primary {
  width: 8em;
  margin-left: 10em !important;
  justify-self: flex-end !important;

}

  /* -------------------------------- contacto -------------------------------- */
  .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

  }

  .mapa iframe {
    width: 100% !important;
    height: 15em !important;
    filter: drop-shadow(2px 5px 10px rgba(77, 76, 76, 0.466));
  }

  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .contenedor_formulario {
    width: 100%;
    padding: 2em;
    margin: .5em !important;
    margin: 0 auto;
    /* background-color: rgba(26, 25, 25, 0.6); */
    border-radius: .5em;
  }

  .formulario h2 {
    color: rgb(32, 30, 30);
    margin-bottom: 2em;
  }

  .inputs input {
    width: 100% !important;
    border: none !important;
    background-color: transparent !important;
    border-radius: 0;
    border-bottom: 0.5px solid rgba(127, 125, 125, 0.673) !important;

  }

  .inputs input:focus {
    border-bottom: 2px solid var(--verde_difuso) !important;

  }

  .inputs #text-area {
    border: 1px solid rgba(4, 2, 2, 0.673) !important;
    outline-offset: 0 !important;
    width: 100% !important;

  }
  footer .direccion {
   
    margin-left: 1.5em; ;
   
  }

}